<div id="installer"></div>

<script>
var installer = jQuery("#installer");

var showInstallStatus = function(obj) {
    installer.html("");

    installer.append("<p><b>Global Edit Validation & Postfunction scripts enabled (QuickEdit): </b> "
        + (obj.quickedit ? "Yes" : "<span style='color:red'>No</span>")
        + "</p>");
    installer.append("<p><b>Global Edit Validation & Postfunction scripts enabled (IssueNav): </b> "
        + (obj.issuenav ? "Yes" : "<span style='color:red'>No</span>")
        + "</p>");
        
    if ((!obj.issuenav) || (!obj.quickedit)) {
        installer.append("<div class='aui-message info'><p>" +
        "Want Global Edit features out of the box?" +
        " <a href='https://marketplace.atlassian.com/1216350'>Consider going Pro!</a>" +
        "</p></div>");
    }
    
    installer.append("<p><b>Jython Installed: </b> "
        + (obj.jythonInstalled ? "Yes" : "No")
        + "</p>");
    installer.append("<p><b>Jython Version: </b> " + obj.jythonVersion + "</p>");
    installer.append("<p><b>Jython Home Path: </b> " + obj.jythonPath + "</p>");
    installer.append("<p><b><i>python.home</i> System Property: </b> " + obj.pythonHome + "</p>");

    installer.append("<p><b>Base Scripts Installed: </b> "
        + (obj.scriptsInstalled ? "Yes" : "No")
        + "</p>");
    installer.append("<p><b>Base Scripts Path: </b> " + obj.scriptsPath + "</p>");

    installer.append("<p><a id='jss_reinstall' href='#' onclick=''>Reinstall everything</a></p>");
};

var getInstallStatus = function() {
    jQuery.ajax({
        url: contextPath + "/rest/jss/1.0/install/status",
        type: "GET",
        contentType : "application/json",
        dataType: "json",
        success: function(val) {
            showInstallStatus(val);
        },
        error: function() {}
    });
};

jQuery("#jss_reinstall").live("click", function() {
    var answ = confirm("Are you sure?\n\n"
        + "This will permanently erase any changes made to\n"
        + "embedded Jython installation and base scripts!");
    if (answ) {
        jQuery.ajax({
            url: contextPath + "/rest/jss/1.0/install/reinstall?atl_token=$atl_token",
            type: "GET",
            success: function(val) {
                alert("Done");
                getInstallStatus();
            },
            error: function() {}
        });
    }
});

jQuery(function() {
    getInstallStatus();
});
</script>
