<table class='jiraform maxWidth'>
<tr><td align='center'>
<a href='${req.contextPath}/secure/admin/JSSGlobalValidatorEditor.jspa'>Edit Validator</a> |
<a href='${req.contextPath}/secure/admin/JSSGlobalPostfunctionEditor.jspa'>Edit Postfunction</a> |
<a href='${req.contextPath}/secure/admin/JSSRestScriptEditor.jspa'>REST Script</a> |
<a href='${req.contextPath}/secure/admin/JythonRunner!default.jspa'>Jython Runner</a>
</td></tr>
</table>