$!webResourceManager.requireResource("com.quisapps.jira.jss:editarea")
$!webResourceManager.requireResource("com.quisapps.jira.jss:jython-js-tools")

<tr bgcolor=ffffff>
    <td align='center' valign='top' colspan='2'>
        <span class='label'>Jython condition to be met for this transition (<i>result</i> variable must be set to true of false; default is true): </span>
    </td>
</tr>
#set($includeJythonFilePanelWithHtml = $!includeJythonFilePanel)
$!includeJythonFilePanelWithHtml
<tr bgcolor=ffffff>
    <td align='center' valign='top' colspan='2'>
        <div>
            <a id='jythonDefaultsToggle' href="#" onclick="return false;">Jython Context Variables</a>
            <style type="text/css">
                #jythonDefaults tr>td:first-child {
                    font-weight:bold;
                }
            </style>
            <div id='jythonDefaults'><table>
                <tr><td>result</td><td>Result of validation; boolean value, default is True</td></tr>
                <tr><td>invalid_fields</td><td>PyDictionary(), empty map by default</td></tr>
                <tr><td>description</td><td>PyUnicode(), empty unicode string by default</td></tr>
                <tr><td>originalIssue</td><td>Original (unmodified) <a target='_blank' href='http://docs.atlassian.com/jira/4.0/com/atlassian/jira/issue/MutableIssue.html'>Issue</a> object</td></tr>
                <tr><td>issue</td><td>Modified <a target='_blank' href='http://docs.atlassian.com/jira/4.0/com/atlassian/jira/issue/MutableIssue.html'>Issue</a> object</td></tr>
                <tr><td>log</td><td><a target='_blank' href='http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/Logger.html'>org.apache.log4j.Logger</a></td></tr>
                <tr><td>transientVars</td><td>A map containing all context data passed to validator</td></tr>
            </table></div>
        </div>
        <textarea id='jythonSource' rows='25' wrap='virtual' name='jythonSource' style="width:90%">$!{jythonSource}</textarea>
        <script>jQuery(document).ready( function() { jythonInit('jythonSource'); });</script>
    </td>
</tr>
#set($includeJythonReferenceWithHtml = $!includeJythonReference)
$includeJythonReferenceWithHtml
